<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<listener>
		<listener-class>com.dm.AppServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>SimpleESAPIFilter</filter-name>
		<filter-class>com.dm.filter.SimpleESAPIFilter</filter-class>
	</filter>

	<!-- this filter is VERY IMPORTANT since without it the ThreadLocal User 
		variable can become reusable by other requests! -->
	<filter-mapping>
		<filter-name>SimpleESAPIFilter</filter-name>
		<url-pattern>/*</url-pattern><!-- "/*" is safer than "/main" since there 
			are already pages outside of main like admin_lab.jsp or any new page that 
			is created outside of main. -->
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>